---
layout: default
cards:
- heading: Small heading
  description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt officia nihil porro nam molestiae quo quam alias assumenda nemo quod voluptates sunt quisquam minima accusamus, totam saepe consectetur, doloremque aspernatur.
  featured_image: /images/the-sleep-co-1.jpg
- heading: Small heading
  description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt officia nihil porro nam molestiae quo quam alias assumenda nemo quod voluptates sunt quisquam minima accusamus, totam saepe consectetur, doloremque aspernatur.
  featured_image: /images/the-sleep-co-3.jpg
- heading: Small heading
  description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt officia nihil porro nam molestiae quo quam alias assumenda nemo quod voluptates sunt quisquam minima accusamus, totam saepe consectetur, doloremque aspernatur.
  featured_image: /images/the-sleep-co-2.jpg
---
     
     <!-----------This is our header banner---------->

     <header class=" grid tall-60">


        {% include header-nav.html %}


        <div class="col-12-top text-center">
            <h3> <span class="featured-text"> addictively </span> soft </h3>
            <h1 class="font-weight-light">you won't get out of bed </h1>
        </div>
    </header>

     <!----------------features icon grid ------------>
 <section class="padded grid bg-featured">
    <div class="padded-sm col-12 text-center">
        <h2> <span class="white-text" >Features </span> you'll love </h2>
    </div>
    <div class="padded-sm col-3">
        <h3> little heading </h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo veritatis distinctio eligendi sed deserunt repellat corrupti, vitae commodi reprehenderit in dolorem sit accusantium assumenda et suscipit nobis neque velit natus.</p>
    </div>
    <div class="padded-sm col-3">
        <h3> little heading </h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo veritatis distinctio eligendi sed deserunt repellat corrupti, vitae commodi reprehenderit in dolorem sit accusantium assumenda et suscipit nobis neque velit natus.</p>
    </div>
    <div class="padded-sm col-3">
        <h3> little heading </h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo veritatis distinctio eligendi sed deserunt repellat corrupti, vitae commodi reprehenderit in dolorem sit accusantium assumenda et suscipit nobis neque velit natus.</p>
    </div>
    <div class="padded-sm col-3">
        <h3> little heading </h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo veritatis distinctio eligendi sed deserunt repellat corrupti, vitae commodi reprehenderit in dolorem sit accusantium assumenda et suscipit nobis neque velit natus.</p>
    </div>
</section>


  <!--------------- Cards ----------------->

  <section class="grid padded">
    {% for item in page.cards %}
    <div class="col-4_sm-12 padded-sm">
        <div class="card">
            <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}')"></div>
            <div class="padded-1">
                <h3>{{item.heading}}</h3>
                <p>{{item.description}}</p>
            </div>
        </div>
    </div>

    {% endfor %}
    

  </section>

  <!---------------- banner image ------------>
<section class="padded text-center bg-dark tall-70 grid">
    <div class="col-12-middle">
        <h3 class="big-text"> 
            <span class="small-text font-weight-normal"> spend over $150 and receive </span> 
            <br> <span class="featured-text"> free </span> express shipping
        </h3>
    </div>
    </section>

       <!--------gallery section------>
       <section class="grid">
        <div class="padded col-6-middle">
            <h2>built to last a <span class="featured-text" >lifetime </span> </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, dolores aperiam! Illum voluptatum impedit at eum quae officiis, iure, blanditiis doloribus sed, rerum sit? Dolor cumque quo omnis et tempora?</p>
        </div>
        <div class="bg-image bg-bed col-6 tall-70">
            <!-------background image bed-->
        </div>
        <div class="bg-image bg-pug col-6 tall-70">
                <!-------background image pug-->
        </div>
        <div class="padded col-6-middle">
            <h2>so <span class="featured-text" >soft </span>you'll melt</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, dolores aperiam! Illum voluptatum impedit at eum quae officiis, iure, blanditiis doloribus sed, rerum sit? Dolor cumque quo omnis et tempora?</p>
        </div>
        <div class="padded col-6-middle">
            <h2>built to last a <span class="featured-text" >lifetime </span> </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, dolores aperiam! Illum voluptatum impedit at eum quae officiis, iure, blanditiis doloribus sed, rerum sit? Dolor cumque quo omnis et tempora?</p>
        </div>
        <div class="bg-image bg-bed col-6 tall-70">
            <!-------background image bed-->
        </div>
    </section>

   